In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
#Import CSV from WeatherPy to create a DataFrame
df = pd.read_csv (r'../WeatherPy/output_data/cities.csv')
df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,port hedland,-20.32,118.57,285.15,31,0,2.10,AU,1596065461
1,1,henties bay,-22.12,14.28,286.48,90,0,3.15,NaN,1596065461
2,2,cape town,-33.93,18.42,286.48,100,40,3.10,ZA,1596065231
3,3,camalu,30.85,-116.07,301.48,37,11,2.24,MX,1596065461
4,4,tiksi,71.69,128.87,277.59,86,100,3.78,RU,1596065461
...,...,...,...,...,...,...,...,...,...,...
576,576,ballia,25.76,84.15,301.41,80,100,2.24,IN,1596065547
577,577,shalya,57.25,58.73,287.16,97,100,2.50,RU,1596065548
578,578,baymak,52.59,58.32,286.07,84,5,1.74,RU,1596065548
579,579,abu kamal,34.45,40.92,306.95,16,0,5.16,SY,1596065548
580,580,muli,2.92,73.57,301.52,75,95,7.75,MV,1596065548

# Humidity Heatmap

In [3]:
# Store latitude and longitude
cities = df[["Lat", "Lng"]]

# Store cities
humidity = df["Humidity"]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(cities, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
#Create new DataFrame fitting weather criteria
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

ideal_df = df.loc[(df["Max Temp"] < 80) & (df["Max Temp"] > 70) & (df["Wind Speed"] == 10) & (df["Cloudiness"] == 0)]

ideal_df

Empty DataFrame
Columns: [Unnamed: 0, City, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []