In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
#Import CSV from WeatherPy to create a DataFrame
df = pd.read_csv (r'../WeatherPy/output_data/cities.csv')
df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,busselton,-33.65,115.33,8.89,90,4,4.83,AU,1596481791
1,1,ibitinga,-21.76,-48.83,27.00,36,0,2.10,BR,1596482077
2,2,shingu,33.73,135.98,22.50,84,35,2.42,JP,1596482077
3,3,vanavara,60.34,102.28,14.04,65,77,2.17,RU,1596482078
4,4,punta arenas,-53.15,-70.92,8.00,68,20,7.20,CL,1596482078
...,...,...,...,...,...,...,...,...,...,...
557,557,kavaratti,10.57,72.64,28.05,78,100,10.62,IN,1596482159
558,558,kropotkin,45.44,40.58,19.55,50,0,2.72,RU,1596482159
559,559,te anau,-45.42,167.72,5.72,87,100,1.28,NZ,1596482159
560,560,fukue,32.69,128.84,26.99,83,98,5.29,JP,1596482159
561,561,iralaya,15.00,-83.23,31.00,74,75,3.60,HN,1596482159

# Humidity Heatmap

In [3]:
# Store latitude and longitude
cities = df[["Lat", "Lng"]]

# Store cities
humidity = df["Humidity"]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(cities, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
#Create new DataFrame fitting weather criteria
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

ideal_df = df.loc[(df["Max Temp"] > 21) & (df["Max Temp"] < 26) & (df["Cloudiness"] == 0) & (df["Wind Speed"] < 10)
                  & (df["Humidity"] <= 50), :]
ideal_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
143,143,kabalo,-6.05,26.92,25.07,29,0,2.05,CD,1596482095
222,222,hudson bay,52.85,-102.38,24.77,45,0,4.42,CA,1596482108
224,224,komsomolskiy,40.43,71.72,25.00,44,0,3.10,UZ,1596482108
296,296,cubuk,40.24,33.03,22.78,28,0,3.10,TR,1596482120
297,297,vicuna,-30.03,-70.71,22.78,50,0,1.95,CL,1596482121
343,343,concepcion del oro,24.63,-101.42,21.64,41,0,1.56,MX,1596482127
365,365,erechim,-27.63,-52.27,25.00,50,0,4.10,BR,1596482130
451,451,kindu,-2.95,25.95,25.07,44,0,0.12,CD,1596482142
476,476,san vicente,-26.62,-54.13,23.80,39,0,1.61,AR,1596482145

In [45]:
# Store latitude and longitude in coordinates
coordinates = ideal_df[["Lat", "Lng"]]
coordinates

       Lat     Lng
143  -6.05   26.92
222  52.85 -102.38
224  40.43   71.72
296  40.24   33.03
297 -30.03  -70.71
343  24.63 -101.42
365 -27.63  -52.27
451  -2.95   25.95
476 -26.62  -54.13

In [46]:
#Create a list to hold information
hotels = []

In [52]:
#Loop through each coordinates and save data
for row in coordinates:
    #Geocoordinates
    target_radius = 5000
    target_type = "hotel"
    #Parameters
    params = {"radius": target_radius, "type": target_type, "key": gkey}
    #Base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    for item in response:
        hotel.append()
    # convert response to json
    response = response.json()
    print(response)

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}